<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <saveUI>
        <processor patch:instead="processor[@type='Sitecore.Pipelines.Save.Validators, Sitecore.Kernel']" mode="on" type="Sitecore.Support.Pipelines.Save.Validators, Sitecore.Support.109655" />
      </saveUI>
    </processors>
  </sitecore>
</configuration>